.simplebar {
  &-track {
    top: 96px!important;
    right: 16px;
    width: 8px!important;
    height: 400px!important;

    @media (max-width: 576px) {
      top: 50px!important;
      right: 6px!important;
      width: 4px!important;
      height: 300px!important;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      background: #FFFFFF1F;
      border-radius: 10px;

      @media (max-width: 576px) {
        width: 4px;
      }
    }
  }

  &-scrollbar {
    width: 8px;
    background: var(--main-blue);
    border-radius: 10px;

    @media (max-width: 576px) {
      width: 4px;
    }

    &::before {
      display: none;
    }
  }
}