@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  src: url("../resources/fonts/FuturaPT-Book.woff") format("woff");
  font-display: swap;
}